
.your-style {
    font-family: 'KalamehWeb';
    font-weight: bold;
    font-style: normal;
}

.your-style {
    font-family: 'KalamehWeb';
    font-weight: normal;
    font-style: normal;
}
.your-style {
    font-family: 'KalamehWeb';
    font-weight: 900;
    font-style: normal;
}

.your-style {
    font-family: 'KalamehWeb';
    font-weight: bold;
    font-style: normal;
}

.your-style {
    font-family: 'KalamehWeb';
    font-weight: normal;
    font-style: normal;
}


.your-style {
    font-family: 'KalamehWeb';
    font-weight: 900;
    font-style: normal;
}
.your-style {
    font-family: 'KalamehWeb';
    font-weight: 900;
    font-style: normal;
}

.your-style {
    font-family: 'KalamehWeb';
    font-weight: normal;
    font-style: normal;
}

.your-style {
    font-family: 'KalamehWeb';
    font-weight: bold;
    font-style: normal;
}
